<div class="flex justify-center w-96">
  <%= form_with model: user_login, url: login_shares_path(login) do |form| %>
    <div class="field">
      <%= form.label :user_id, class: "text-white" %>
      <%= form.collection_select :user_id, login.shareable_users, :id, :email %>
    </div>

    <div class="field">
      <%= form.label :role, class: "text-white" %>
      <%= form.select :role, UserLogin::ROLES.map{ |r| [r.titleize, r ]}, class: "w-28" %>
    </div>

    <div class="field flex justify-center mt-14">
      <%= form.submit "Share", class: "hover:bg-blue-500" %>
    </div>
  <% end %>
</div>