<%= form_with model: user_login, url: login_shares_path(login) do |form| %>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, login.shareable_users, :id, :email %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, UserLogin::ROLES.map{ |r| [r.titleize, r ]} %>
  </div>

  <div class="field">
    <%= form.submit "Share", class: "hover:bg-blue-500" %>
  </div>
<% end %>
