<%= form_with model: login do |form| %>
  <% if form.object.errors.any? %>
    <% form.object.errors.full_messages.each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <div class="field">
    <%= form.submit %>
    <%= button_tag "Delete", form: "delete_login" if form.object.persisted? && current_user_login.deletable? %>
  </div>
<% end %>
<%= form_with model: login, method: :delete, id: "delete_login", data: {turbo_confirm: "Are you sure?"} %>
