<div class="flex justify-center mt-28">
  <div class="w-96">
    <div class="text-white flex justify-center text-4xl mb-14">Sign In</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "text-white" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-full shadow-2xl w-full" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "text-white" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "rounded-full shadow-2xl w-full" %>
      </div>

      <div class="actions flex justify-center mt-14">
        <%= f.submit "Sign In" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
